body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.search-add-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-bottom: 20px; 
  margin-top: 10px;
  border-radius: 8px; 
}

.search-bar {
  flex-grow: 1;
  padding: 10px 15px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  transition: all 0.3s ease; 
}

.search-bar:hover, .search-bar:focus {
  border-color: #004940;
  box-shadow: 0 0 5px rgba(0, 73, 64, 0.3); 
}

.search-icon {
  color: #004940;
  margin-left: 10px; 
  font-size: 20px; 
  cursor: pointer; 
  transition: color 0.3s ease; 
}

.search-icon:hover {
  color: #00857A; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; 
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 16px;
  color: #333;
}

th {
  background-color: #004D40;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td input[type="radio"] {
  margin-right: 10px;
}

.select-all-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.select-all-container label {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.select-all-container input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

#save-absensi-button {
  background-color: #005E55; 
  color: white;
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  position: relative; 
  right: 0; 
  margin-top: 20px; 
  float: right; 
  transition: background-color 0.3s ease; 
}

#save-absensi-button:hover {
  background-color: #004D40;
}

@media (max-width: 768px) {
  table {
      font-size: 14px; 
  }

  th, td {
      padding: 8px; 
  }

  .select-all-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .select-all-container label {
      margin-bottom: 8px;
  }
}
